<div class="contributors">
  <div>
    <div><img src="https://avatars.githubusercontent.com/u/384526?v=3"alt="icon" /></div>
    <div><a href="https://github.com/etotheipi">etotheipi</a></div>
    <div>1069</div>
  </div>
  <div>
    <div><img src="https://avatars.githubusercontent.com/u/5758209?v=3"alt="icon" /></div>
    <div><a href="https://github.com/goatpig">goatpig</a></div>
    <div>529</div>
  </div>
  <div>
    <div><img src="https://avatars.githubusercontent.com/u/5141752?v=3"alt="icon" /></div>
    <div><a href="https://github.com/AndyOfiesh">AndyOfiesh</a></div>
    <div>475</div>
  </div>
  <div>
    <div><img src="https://avatars.githubusercontent.com/u/5783811?v=3"alt="icon" /></div>
    <div><a href="https://github.com/njaard">njaard</a></div>
    <div>291</div>
  </div>
  <div>
    <div><img src="https://avatars.githubusercontent.com/u/5931802?v=3"alt="icon" /></div>
    <div><a href="https://github.com/droark">droark</a></div>
    <div>263</div>
  </div>
  <div>
    <div><img src="https://avatars.githubusercontent.com/u/524761?v=3"alt="icon" /></div>
    <div><a href="https://github.com/jimmysong">jimmysong</a></div>
    <div>57</div>
  </div>
  <div>
    <div><img src="https://avatars.githubusercontent.com/u/3782274?v=3"alt="icon" /></div>
    <div><a href="https://github.com/achow101">achow101</a></div>
    <div>15</div>
  </div>
  <div>
    <div><img src="https://avatars.githubusercontent.com/u/863730?v=3"alt="icon" /></div>
    <div><a href="https://github.com/fanquake">fanquake</a></div>
    <div>12</div>
  </div>
  <div>
    <div><img src="https://avatars.githubusercontent.com/u/3298484?v=3"alt="icon" /></div>
    <div><a href="https://github.com/jameshilliard">jameshilliard</a></div>
    <div>3</div>
  </div>
  <div>
    <div><img src="https://avatars.githubusercontent.com/u/4958549?v=3"alt="icon" /></div>
    <div><a href="https://github.com/AnAverageHuman">AnAverageHuman</a></div>
    <div>1</div>
  </div>
  <div>
    <div><img src="https://avatars.githubusercontent.com/u/458997?v=3"alt="icon" /></div>
    <div><a href="https://github.com/gwillen">gwillen</a></div>
    <div>1</div>
  </div>
  <div>
    <div><img src="https://avatars.githubusercontent.com/u/148100?v=3"alt="icon" /></div>
    <div><a href="https://github.com/invalid-email-address">invalid-email-address</a></div>
    <div>1</div>
  </div>
</div>